fastapi
uvicorn[standard]
langchain
langchain-openai
langchain-community
langgraph
faiss-cpu
sentence-transformers
pypdf
python-jose[cryptography]
passlib[bcrypt]
motor
pymongo
python-multipart
pydantic
python-dotenv
pandas
langchain-huggingface
langchain-groq